[submodule "python"]
	path = python
	url = https://github.com/uber/tchannel-python.git
[submodule "node"]
	path = node
	url = git@github.com:uber/tchannel-node
[submodule "hyperbahn"]
	path = hyperbahn
	url = git@github.com:uber/hyperbahn
