[submodule "python"]
	path = python
	url = https://github.com/uber/tchannel-python.git
[submodule "node"]
	path = node
	url = https://github.com/uber/tchannel-node.git
[submodule "hyperbahn"]
	path = hyperbahn
	url = https://github.com/uber/hyperbahn
[submodule "golang"]
	path = golang
	url = https://github.com/uber/tchannel-go
