# Testing and coverage
pytest
pytest-cov
pytest-timeout
pytest-tornado

# Property based tests
hypothesis
hypothesis-pytest

# Integration test utilities
sh

# Test all the pythons
tox

# Syntax checker
flake8==2.2.5

# Optional dependency, but must be tested er'ry time
toro>=0.8,<0.9
tornado>=4.0,<5.0
thrift==0.9.2

# checksum calculation
pyfarmhash
crcmod

# Mocks
doubles
